################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DarunGrim/v15
/Src/DiffEngine/x64/Debug
/Src/IDAPlugin/x64/Debug
/Src/Scripts/x64/Debug
/Src/UI/FlowGrapher/Debug
/Src/UI/WTL/x64/Debug
/Src/DiffEngine/DiffEngine.vcxproj.user
/Lib/idasdk71
/x64/Debug
*.filters
/Src/IDAPlugin/IDAPlugin.vcxproj.user
/Src/DiffEngine/DarunGrimC.vcxproj.user
/Tmp
/Src/DGEngine/Debug
/Src/DGEngine/x64/Debug
/.vs/DarunGrim/v16
